.menu-sidebar .adm-list {
  --border-inner: 0px;
  --border-top: 0px;
  --border-bottom: 0px;
}

.menu-sidebar .adm-list-header {
  color: #fffae9;
  font-size: 18px;
  margin-top: 10px;
}

.menu-sidebar .adm-list-body {
  background-color: #38aea9;
  color: #fffae9;
  font-size: 16px;
}

.adm-tab-bar-item {
  color: #3b8f8b;
}

.adm-tab-bar-item-active {
  color: #fff;
}

.adm-form .adm-list-header {
  font-size: larger;
  font-weight: 700;
  color: black;
}

.adm-list-item:active {
  border-radius: 20px;
  color: #0fbcf9;
  font-weight: 700;
}

.adm-list-item.adm-list-item-active {
  border-radius: 50px;
  background-color: #e4efc1;
  font-weight: 700;
  color: #0fbcf9;
}
